@font-face {
	  font-family: 'DIN';
	  font-style: normal;
	  font-weight: 400;
	  src: url(/atit_crm/static/src/fonts/DIN_Next_LT_Arabic_Regular.ttf) format('truetype');
	}

* {
    font-family: 'DIN' !important;
}
.col-auto-200{
    width: 200px !important;
}
